<footer class="footer-new footer bg-dark color-white" >
  <div class="container">
      <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                  <li class="list-inline-item">
                      <a href="{{ site.url }}/about/">About</a>
                  </li>
                  <li class="list-inline-item">⋅</li>
                  <li class="list-inline-item">
                      <a href="{{ site.url }}/contact/">Contact</a>
                  </li>
                  <li class="list-inline-item">⋅</li>
                  <li class="list-inline-item">
                      <a href="https://github.com/kyoussef77/kyoussef77.github.io">Page Repository</a>
                  </li>
                 
                  
              </ul>
              <p class=" small mb-4 mb-lg-0">© Kamal Youssef - 2019</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
              <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-3">
                      <a href="https://www.facebook.com/kamal.youssef.908">
                          <i class="fab fa-facebook fa-2x fa-fw"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.instagram.com/k_youssef7/">
                          <i class="fab fa-instagram fa-2x fa-fw"></i>
                      </a>
                  </li>
                  <li class="list-inline-item mr-3">
                      <a href="https://www.linkedin.com/in/kamal-youssef-925487121/">
                          <i class="fab fa-linkedin fa-2x fa-fw"></i>
                      </a>
                  </li>
                  
                  <li class="list-inline-item">
                      <a href="https://github.com/kyoussef77">
                          <i class="fab fa-github fa-2x fa-fw"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>

<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-{{ site.google }}' , 'auto');
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>